# Compiled Objects & Binary Dumps
*.o
*.a
*.so
*.exe
*.test

# Build artifacts
public/
public*/
dist/
output/
hugo.exe

# OS generated
.DS_Store
Thumbs.db

# Hugo internal
.hugo_build.lock
resources/_gen/

# Logs
*.log

# Testing files
*_test.go
_testmain.go

# Submodule metadata
.gitmodules
.git/modules/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# Environment files
.env
.env.local